<?xml version="1.0"?>
<launch>
  <!-- launch file parameters -->  
  <arg name="ip" default="192.168.0.13" />
  <arg name="namespace" default="gripper" />
  
  <group ns="$(arg namespace)">
    <!-- CModel TCP Controller -->
    <node name="cmodel_tcp_driver" pkg="robotiq_control" type="cmodel_tcp_driver.py" output="screen" args="$(arg ip)"/>
    <!-- Simple action controller -->
    <rosparam file="$(find robotiq_control)/config/cmodel_action_controller.yaml" command="load" />
    <node name="cmodel_action_controller" pkg="robotiq_control" type="cmodel_action_controller.py" output="screen" />
  </group>
</launch>
