<?xml version="1.0"?>
<launch>
  <!-- launch file parameters -->
  
  <!-- If false, RTU is used -->
  <arg name="use_tcp_control_mode" default="true" />  
  
  <arg name="ip"		default="192.168.0.13" />
  <arg name="port" default="" />
  <arg name="device_name"		default="/tmp/ttyUR_a" />
  <arg name="namespace"		default="gripper" />
  <arg name="gripper_prefix"	default="" />
  <arg name="config"		default="cmodel_action_controller" />

  <group ns="$(arg namespace)">
    <!-- CModel TCP Controller -->
    <group if="$(arg use_tcp_control_mode)">
      <node name="cmodel_tcp_driver" pkg="robotiq_control" type="cmodel_tcp_driver.py" output="screen" args="$(arg ip) $(arg port)" respawn="true"/>
    </group>
    <group unless="$(arg use_tcp_control_mode)">
      <node name="cmodel_rtu_driver" pkg="robotiq_control" type="cmodel_rtu_driver.py" output="screen" args="$(arg device_name)" respawn="true"/>
    </group>
    <param name="gripper_prefix"  type="str" value="$(arg gripper_prefix)"/>
    <!-- Simple action controller -->
    <rosparam file="$(find robotiq_control)/config/$(arg config).yaml" command="load" />
    <node name="cmodel_action_controller" pkg="robotiq_control"
	  type="cmodel_action_controller.py" output="screen" />
  </group>
</launch>
