<?xml version="1.0"?>
<launch>
  <!-- launch file parameters -->  
  <arg name="topic" default="/b_bot_controller/ur_driver/URScript" />
  <arg name="namespace" default="gripper" />
  <arg name="gripper_prefix" default="" />  
  
  <group ns="$(arg namespace)">
    <!-- CModel TCP Controller -->
    <node name="cmodel_urscript_driver" pkg="robotiq_control" type="cmodel_urscript_driver.py" output="screen" args="$(arg topic)"/>
    <param name="gripper_prefix" type="str" value="$(arg gripper_prefix)"/>
    <!-- Simple action controller -->
    <rosparam file="$(find robotiq_control)/config/cmodel_action_controller.yaml" command="load" />
    <node name="cmodel_action_controller" pkg="robotiq_control" type="cmodel_action_controller.py" output="screen" />
  </group>
</launch>
