<?xml version="1.0"?>
<launch>
  <!-- launch file parameters -->  
  <arg name="topic" default="/ur_hardware_interface/script_command" />
  
  <!-- CModel TCP Controller -->
  <node name="cmodel_urscript_driver" pkg="robotiq_control" type="cmodel_urscript_driver.py" output="screen" args="$(arg topic)"/>
  <!-- Simple Controller -->
  <node name="robotiq_simple_controller" pkg="robotiq_control" type="robotiq_simple_controller.py" output="screen"/>
</launch>
