<?xml version="1.0"?>
<launch>
  <!-- launch file parameters -->  
  <arg name="address" default="192.168.1.41" />
  
  <!-- CModel TCP Controller -->
  <node name="cmodel_urcap_driver" pkg="robotiq_control" type="cmodel_urcap_driver.py" output="screen" args="$(arg address)"/>
  <!-- Simple Controller -->
  <node name="robotiq_simple_controller" pkg="robotiq_control" type="robotiq_simple_controller.py" output="screen"/>
</launch>
