<?xml version="1.0"?>
<launch>

  <!-- Launch file parameters -->
  <arg name="paused"     default="false"/>
  <arg name="debug"      default="false"/>
  <arg name="gui"        default="true"/>
  <arg name="rate"       default="125" />
  <!-- <arg name="world_name" default="$(find ur3_gazebo)/worlds/bunri.world" /> -->

  
  <!-- Start up simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(arg world_name)"/> -->
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="debug"      value="$(arg debug)"/>
    <arg name="gui"        value="$(arg gui)"/>
    <!-- <arg name="physics"    value="bullet"/> -->
  </include>

  <!-- Send robot urdf to param server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder '$(find robotiq_description)/urdf/robotiq_hande_gripper.xacro'" />
  <!-- Spawn robot in gazebo (and move it upwards):
       better initial values should be -2.355 and 1.57 but the robot does
       something strange when unpausing it
  -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model hande"
        output="screen" />

</launch>
